/* リスト表示設定 */
.calc{
    display: flex;
    align-items: top;
    text-align: center;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: space-between;
}

.calc .list{
    flex-grow: 1;
    color:white;
    margin: 64px 32px 16px 16px;
    padding: 0px 32px 0px 32px;
    cursor: pointer;
}

/* 税率ロジックリスト */
.calc .list .col{
    display: flex;
    align-items: top;
    text-align: center;
    list-style: none;
    justify-content: space-between;
    flex-direction: column;
}

.calc .list .col .invalid{
    flex-wrap: nowrap;
    flex-grow: 1;
    background: #501c23;
    color:white;
    margin: 0px 32px 16px 0px;
    padding: 8px 8px 8px 8px;
    cursor: pointer;
    border-radius: 16px;
    opacity: 0.7;
    transition: 1.5;
}

.calc .list .col .active{
    flex-wrap: nowrap;
    flex-grow: 1;
    background: #501c23;
    color:white;
    margin: 0px 32px 16px 0px;
    padding: 8px 8px 8px 8px;
    cursor: pointer;
    border-radius: 16px;
    opacity: 1;
    transition: 1.5;
}

.calc .answer{
    text-align: right;
    font-size: 28px;
    flex-grow: 1;
    color:white;
    margin: 64px 32px 16px 16px;
    padding: 0px 32px 0px 32px;
    cursor: pointer;
}

/* 入力欄制御 */
.calc .list .input{
    outline: none;  /* chromeでテキスト入力枠線の表示を消す */
    border: none;
    background-color:transparent;
    width: 100%;
    height: 30px;
    font-size: 28px;
    color: white;
}

.calc .list .border{
    visibility: visible;
    display: flex;
    background-color: #747474;
    position: relative;
    width: 0;
    height: 2px;
    transition: 1.5s;
}

.calc .list .border_active{
    visibility: visible;
    display: flex;
    background-color: #501c23;
    position: relative;
    width: 100%;
    height: 2px;
    transition: 1.5s;
}

.reset{
    display: none;
    text-align: center;
    margin:32px 0 0 0;
}

.alert{
    display: block;
    text-align: center;
    margin:32px 0 0 0;
}
.alert2{
    display: block;
    background: #cecf9f;
    text-align: center;
    margin:32px 0 0 0;
}

.input_error{
    width: 50%;
    background: #cecf9f;
    border: 1px solid #d10808;
    color:#d10808;
    font-size : 20px;
    margin: 0 auto;
    padding: 8px 8px 8px 8px;
    border-radius: 16px;
}

